<div class="container-contacto">
    
    <p class="contact-overline">¿Qué sigue?</p>
    
    <h2 class="contact-title">Ponte en Contacto</h2>
    
    <p class="contact-desc">
        Actualmente estoy disponible para colaborar en proyectos de Tecnologías de la Información, 
        desarrollo de software o iniciativas ministeriales.
        <br><br>
        Ya sea que tengas una propuesta laboral, una consulta o simplemente quieras saludar, 
        ¡mi bandeja de entrada siempre está abierta!
    </p>

    <div class="contact-actions">
        <a href="mailto:juancavazos1710@gmail.com" class="btn-big">
            📧 Contáctame por correo
        </a>
        <a href="https://wa.me/528341506601" target="_blank" class="btn-secondary info-pill">
            💬 Contáctame un WhatsApp
        </a>

        <div class="btn-secondary">
            <a href="https://maps.app.goo.gl/ZJFfrQ3wg59UCaVs9" target="_blank">
                <span class="icon">📍</span> Cd. Victoria, Tamaulipas, México
            </a>
        </div>
    </div>

</div>