<header class="site-header">
    <div class="logo-container">
        <a href="#main-wrapper">
            <span class="tag-symbol">&lt;</span>
            JuanDev
            <span class="tag-symbol">/&gt;</span>
        </a>
    </div>

    <div class="header-actions">
        
        <label class="bb8-toggle" title="Cambiar tema">
            <input class="bb8-toggle__checkbox" type="checkbox" id="theme-toggle">
            <div class="bb8-toggle__container">
                <div class="bb8-toggle__scenery">
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="tatto-1"></div>
                    <div class="tatto-2"></div>
                    <div class="gomrassen"></div>
                    <div class="hermes"></div>
                    <div class="chenini"></div>
                    <div class="bb8-toggle__cloud"></div>
                    <div class="bb8-toggle__cloud"></div>
                    <div class="bb8-toggle__cloud"></div>
                </div>
                <div class="bb8">
                    <div class="bb8__head-container">
                        <div class="bb8__antenna"></div>
                        <div class="bb8__antenna"></div>
                        <div class="bb8__head"></div>
                    </div>
                    <div class="bb8__body"></div>
                </div>
                <div class="artificial__hidden">
                    <div class="bb8__shadow"></div>
                </div>
            </div>
        </label>

        <label class="hamburger mobile-only" title="Abrir menú">
            <input type="checkbox" id="menu-toggle-checkbox">
            <svg viewBox="0 0 32 32">
                <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                <path class="line" d="M7 16 27 16"></path>
            </svg>
        </label>

    </div>
</header>