<nav class="main-navigation">
    <ul class="nav-list">
        
        <li class="nav-item">
            <a href="#inject-cinta" class="nav-link highlight" onclick="closeMenu()">Conocimientos</a>
        </li>
        
        <li class="nav-item">
            <a href="#inject-experiencia" class="nav-link" onclick="closeMenu()">Trayectoria</a>
        </li>

        <li class="nav-item">
            <a href="#inject-educacion" class="nav-link highlight" onclick="closeMenu()">Formación</a>
        </li>
        
        <li class="nav-item">
            <a href="#inject-contacto" class="nav-link" onclick="closeMenu()">Contacto</a>
        </li>

    </ul>
</nav>